
<div id="todays-menu">
	<h1>Today's Menu</h1>
	<div class="categories-container">
	<% @categories.each do |category| %>
		<h2><%= link_to category.name, category %></h2>
		<div class="recipes-container">
		<%= link_to category.highest_rated_recipe.name, category.highest_rated_recipe %>
		</div>
	<% end %>
	</div>
</div>